<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.jjim-mapper">
  <resultMap type="JjimVO" id="jjimMap">
    <result property="cpvo.name" column="name"/>
    <result property="cpvo.poster" column="poster"/>
    <result property="cpvo.product_no" column="product_no"/>
    <result property="cpvo.price" column="price"/>
  </resultMap>
  <select id="jjimCheckCount" resultType="int" parameterType="JjimVO">
    SELECT COUNT(*) FROM all_jjim
    WHERE id=#{id} AND rno=#{rno} AND type=#{type} 
  </select>
  <select id="jjimCocktail_productListData" resultMap="jjimMap" parameterType="string">
    SELECT jno, aj.type, rno, name, poster, product_no
    FROM  all_jjim aj, cocktail_product cp
    WHERE aj.rno=cp.product_no
    AND id=#{id} AND type=1
    ORDER BY jno DESC
  </select>
  <delete id="jjimDelete" parameterType="int">
    DELETE FROM all_jjim
    WHERE jno=#{jno}
  </delete>
  <update id="jjimInsert" parameterType="jjimVO">
    INSERT INTO all_jjim VALUES(
    aj_jno_seq.nextval,#{rno},#{type},#{id},SYSDATE
    ) 
  </update>
</mapper>